body {
	background: #EEEEEE; 
	color: #333333; 
	font-size: 11px;
}

textarea {
   resize: none;
}

label{
 vertical-align: 30px;
 display: block;
 font-size: 14px;
}

.form-profile {
  max-width: 730px;
  padding: 100px;
  margin: 0 auto;
  border-radius:25px;
  background: #FFFFFF; 
}

.form-profile .slide {
	width:508px;
	display:block;
	margin:0px auto;
}

.form-profile .userlist{
	width:500px;
}

.form-profile .user{
	border-radius:10px;
	background: #EEEEEE;
	margin-top: 13px;
	margin-bottom: 13px;
	height: 40px;
	padding:6px;
	width:500px;	
}

.form-profile .userlabel{
font-weight: normal;
margin-right: 10px;

}

.form-profile .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-profile .form-control:focus {
  z-index: 2;
 }
 
.form-profile input[type="text"] {
  border: 0 none;
  border-radius: 4px 4px 4px 4px;
  color: #F6931F;
  padding-left: 5px;
  width: 40px;
}

.form-profile .btn-block {
	width:100px;
	height:40px;
	font-size: 16px;
}

.form-profile .blog-button {
	width:60px;
	height:40px;
	font-size: 16px;
	margin-bottom: 15px;
}

.form-profile .slide{
	margin-bottom: 15px;
}

.form-profile .blog-title{
	margin-bottom: 10px;
}

.form-profile .blog-content{
	margin-bottom: 10px;
}

.form-profile .form-control{
	margin-top: 20px;
	border: none;
}

.form-profile .blog{
	margin-bottom: 50px;
}

.form-profile .blog-typed{
	font-style:italic;
	font-size: 13px;
}

.form-profile .submit, .form-profile .blog-buttons{
	margin-bottom: 100px
}

.form-profile .userlabel,.form-profile .usertag{
	float:left;
}

.form-profile .user-button{
	height:30px;
	font-size: 12px;
	float:right;
}

#slider{width: 500px;}
    .steps-2 {
    border: 1px solid transparent; /*follows #slider style for sizing purposes */
    width: 500px; 
    position: relative; 
    height: 30px;
    }
    .tick { 
        border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
        position: absolute;
        width: 1.2em;
        margin-left: -.6em;
        text-align:center;
        left: 0;
    }

.ui-slider-horizontal
{
width:500px;
background: #5e9ae2; /* Old browsers */
background: -moz-linear-gradient(left, #FF0000 0%, #FFFF00 50%, #04B404 100%) !important; /* FireFox 3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FF0000), color-stop(50%,#FFFF00), color-stop(100%,#04B404)); /* Chrome, Safari 4+ */
background: -webkit-linear-gradient(left, #FF0000 0%,#FFFF00 50%,#04B404 100%); /* Chrome 10+, Safari 5.1+ */
background: -o-linear-gradient(left, #FF0000 0%,#FFFF00 50%,#04B404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #FF0000 0%,#FFFF00 50%,#04B404 100%); /* IE 10+ */
background: linear-gradient(left, #FF0000 0%,#FFFF00 50%,#04B404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#FF0000, endColorstr=’#04B404,GradientType=1 ); /* IE 6-9 */
}